*~
elpa
places
recentf
transient

config.el
tramp
bookmarks
org-roam.db
*.md
*.tex
*.pdf

config.el
*.html
.org-id-locations
eshell
keyfreq
*.log
*.man

var
abbrev_defs
url

custom-file.el
old-packages
projectile-bookmarks.eld
projects
.ipynb_checkpoints
.virtual_documents/
eln-cache
